
body{
    background-color: #DBCAA9;
    padding-left: 100px;
    padding-right: 100px;
    background-image: url(../media/fondo.webp);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(210, 163, 98, 0.887);
    height: 100px;
    width: 100%;
}

header .logo {
    height: 60px;
}

header form input{
    height: 50px;
    width:500px;
    padding: 0px;
}
header form button{
    height: 50px;

}

header nav{
    width: 200px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgba(210, 163, 98, 0.887);
    padding: 10px;margin-top: 10px;
    width: 100%;
}

.acceso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.acceso input {
    width: 70%;
    height: 35px;
}

.login{
    border: solid rgb(102, 160, 181) 3px;
    width: 30%;
    height: 400px;
    background-color: rgb(123, 156, 178);
    margin-top: 80px;
    margin-bottom: 80px;
}

.link{
    color: black;
}

.boton{
    width: 75%;
    height: 35px;
    background-color:  rgb(101, 146, 176);
    box-shadow: 20px;
}

.foto_receta{
    width: 100%;
}

.category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lista_recetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.registro div .usuario {
    width: 70%;
    height: 35px;
}
.registro div .contra {
    width: 70%;
    height: 35px;
}
.registro div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.terminos{
    margin: 0%;
    width: 100px;
}

.registrarse{
    border: solid rgb(102, 160, 181) 3px;
    width: 30%;
    height: 500px;
    background-color: rgb(123, 156, 178);
    margin-top: 80px;
    margin-bottom: 80px;
}

.ingreso{
    width: 75%;
    height: 35px;
    background-color:  rgb(101, 146, 176);
    
}

.terminos{
    margin-right: 230px;

}

.receta{
    padding: 20px;
    border: solid 5px brown;
    background-color: rgba(210, 163, 98, 0.887);
    width: 100%;
}

.borde {
    border: dotted 5px brown;
    width: 30%;
    display: flex;
    justify-content: center;
    margin: 0px;
    margin-bottom: 15px;
}

.categories {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    columns: 2;
    width: 100%;
    padding: 0px;
    align-items: center;
    justify-content: space-between;
    
}

.categories li{
    display: flex;
    align-items: center;
    width: 20%;
    height: 30px;
    background-color: rgba(150, 104, 40, 0.845);
    margin: 10px;
    justify-content: center;
    border: solid rgb(150, 82, 40) 2px;
    
}

.categories li a {
    text-decoration: none;
    color: white;

}

.vic{
    margin-top: 0px;
    margin-bottom: opx;
    margin-right: 140px;
    color: brown;
    font-size: x-small;
}

.Niell{
    margin-top: 0px;
    margin-bottom: opx;
    margin-right: 140px;
    color: brown;
    font-size: x-small;
}
#recipe{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 10px;
    border: solid rgb(150, 82, 40) 2px;
   
}
.img_receta{
    width: 500px;
    border: solid 5px brown;
    display: flex;
    justify-content: center;
    margin: 15px;
}

.listrec{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
    background-color: rgba(229, 173, 94, 0.845);
    margin: 10px;
    border: solid rgb(239, 142, 81) 2px;
   
}
.delfi{
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 100%;
    background-color: rgba(229, 173, 94, 0.845);
    margin: 10px;
    border: solid rgb(239, 142, 81) 2px;
}

#category{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.tituCate {
    display: flex;
    width: 100%;
    background-color: rgba(210, 163, 98, 0.887);
    height: 60px;
    justify-content: center;
    border: solid brown 5px;
    color: black;
    align-items: center;
    
}

.maga{
    margin-top: 0px;
    margin-bottom: opx;
    margin-right: 140px;
    color: brown;
    font-size: x-small;
}

.lista_recetas{
    margin-top: 20px;
    color: brown;
    font-size: 30px;
    margin-bottom: 40%;
    
}