
.delfo{
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

body{
    background-color: #DBCAA9;
    padding-left: 100px;
    padding-right: 100px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 100px;
}

header form input{
    height: 50px;
    width:500px;
    padding: 0px;
}
header form button{
    height: 50px;

}

header nav{
    width: 200px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    justify-content: flex-end;
}